body{
	background-color:#f9f9f9;
	background-repeat: repeat;
	max-height: 100%;
	max-width: 100%;
	margin-left: 15px; 
	margin-right: 15px;
	border:5px solid black;
	border:5px solid black;

}
.col-md-10 .col-md-8{
background-color:#f8e4d2;
}