 .Login {
    position:relative;
    width:100px;
    height:55px;
    background: #7FBF00; /* Old browsers */
    background: -moz-linear-gradient(top, #7FBF00 0%, #588400 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7FBF00), color-stop(100%,#588400)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #7FBF00 0%,#588400 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #7FBF00 0%,#588400 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #7FBF00 0%,#588400 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7FBF00', endColorstr='#588400',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #7FBF00 0%,#588400 100%); /* W3C */
    border: 1px solid #84C600;
    border-radius: 8px 8px 8px 8px;
    box-shadow: 0 2px 2px #000000, 1px 0 1px rgba(0, 0, 0, 0.5) inset, -2px 2px 1px rgba(255, 255, 255, 0.2) inset;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 25px;
    font-weight: bold;
    padding: 0.3em 0.8em;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
   -moz-transition: box-shadow 0.2s ease; 
    -o-transition: box-shadow 0.2s ease;
    -webkit-transition: box-shadow 0.2s ease;
    -ms-transition: box-shadow 0.2s ease;
    transition: box-shadow 0.2s ease;
}
.Login:before {
    
    position: absolute;
    top: -2em;
    width: 100%;
    left: 0;
    text-align: center;
    background: #eee;
    color: #444;
    text-shadow: 1px 1px 1px #fff;
    font-size: 16px;
    font-weight: normal;
    border-top: 1px solid #dfdfdf;
}
.Login:after {
    content: "";
    border-top: 5px solid #ededed;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    position: absolute;
    left: 48%;
    top: -27%;
}
.Login:hover {
    background: #89CE00; /* Old browsers */
    background: -moz-linear-gradient(top, #89CE00 0%, #588400 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#89CE00), color-stop(100%,#588400)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #89CE00 0%,#588400 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #89CE00 0%,#588400 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #89CE00 0%,#588400 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#89CE00', endColorstr='#588400',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #89CE00 0%,#588400 100%); /* W3C */
    box-shadow: 0px 2px 3px rgba(0,0,0,1), 1px 0px 1px rgba(0,0,0,0.4) inset, -2px 2px 1px rgba(255,255,255,0.3) inset;
}
.Login:active {
    box-shadow: 0 1px 1px #000000, 1px 0 1px rgba(0, 0, 0, 0.6) inset, -2px 2px 1px rgba(255, 255, 255, 0.5) inset;
}
.Register {
  width:100px;
    height:55px;
  background-color: #004A7F;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Arial;
  font-size: 20px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
   -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
}

@-webkit-keyframes glowing {
  0% { background-color: #004A7F; -webkit-box-shadow: 0 0 3px #004A7F; }
  50% { background-color: #0094FF; -webkit-box-shadow: 0 0 10px #0094FF; }
  100% { background-color: #004A7F; -webkit-box-shadow: 0 0 3px #004A7F; }
}

@-moz-keyframes glowing {
  0% { background-color: #004A7F; -moz-box-shadow: 0 0 3px #004A7F; }
  50% { background-color: #0094FF; -moz-box-shadow: 0 0 10px #0094FF; }
  100% { background-color: #004A7F; -moz-box-shadow: 0 0 3px #004A7F; }
}

@-o-keyframes glowing {
  0% { background-color: #004A7F; box-shadow: 0 0 3px #004A7F; }
  50% { background-color: #0094FF; box-shadow: 0 0 10px #0094FF; }
  100% { background-color: #004A7F; box-shadow: 0 0 3px #004A7F; }
}

@keyframes glowing {
  0% { background-color: #004A7F; box-shadow: 0 0 3px #004A7F; }
  50% { background-color: #0094FF; box-shadow: 0 0 10px #0094FF; }
  100% { background-color: #004A7F; box-shadow: 0 0 3px #004A7F; }
}

@keyframes glowing {
  0% { background-color: #004A7F; box-shadow: 0 0 3px #004A7F; }
  50% { background-color: #0094FF; box-shadow: 0 0 10px #0094FF; }
  100% { background-color: #004A7F; box-shadow: 0 0 3px #004A7F; }
}
